@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body{
  background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
  font-family: 'Saira Semi Condensed', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

td {
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    vertical-align: middle;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid #222222;
}

img {
    width: 100%;
    height: 100%;
}

button{
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

#boton {
  background-color: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

#boton:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#boton:active {
  background-color: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
  border-color: #000000;
  transform: scale(.96);
}

#boton:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


#taulell{
  width: 80vw;
  height: 80vw;
  padding-top: 5vh;
}


#taulell td{
  flex: 1 0 auto;
}

tr {
  display: flex;
  justify-content: center;
}